<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
        <select class="form-select" aria-label="Default select example">
            <option selected>------</option>
            <option value="Beer">Beer 🍺 </option>
            <option value="incon">Inconspicuous drink in a tumbler: 🥤 </option>
            <option value="Wine">Wine 🍷</option>
            <option value="Margaritta">Margaritta 🍸</option>
          </select>
    </div>
    <p class="text-muted" style="font-size: small;"><em>Here we are demonstrating that the page will never reload.</em></p>
  </div>